* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Helvetica Arial, sans-serif;
  text-decoration: none;
}
a {
  font-size: 0.8rem;
  text-decoration: none;
  transition: color 0.15s;
  color: rgb(161, 155, 155);
  width: 165px;
}

hr {
  width: 430px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#span {
  height: 20px;
  border-bottom: 3px solid #cc9b6a;
}

footer {
  width: 100vw;
  height: 700px;
  background-color: rgb(19, 18, 18);
  margin-top: 100px;
}

.footer__top {
  width: 100vw;
  height: 450px;
  background: rgb(19, 18, 18);
  display: flex;
}
.div1 {
  color: white;
  display: flex;
  justify-content: center;
  width: 500px;
}
.div2 {
  color: white;
  display: flex;
  justify-content: center;
  width: 500px;
  margin-bottom: 120px;
  line-height: 25px;
}
.div3 {
  color: white;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  justify-content: space-evenly;
  margin-left: 90px;
}

.div7 {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div_foot1 {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 25px;
  width: 200px;
}
.div_foot2 {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 25px;
  width: 200px;
  margin-top: 50px;
}

.div_foot3 {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 25px;
  width: 250px;
}
.div_foot4 {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 25px;
  width: 150px;
  margin-top: 50px;
}

.footer4 {
  color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  line-height: 50px;
  width: 162px;
  height: 262px;
  justify-content: space-evenly;
  margin-top: 50px;
}

.div_foot6 {
  color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.footer_left p {
  color: #d9dbe1;
}

/* .footer__bottom {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.footer_right {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 32px;
}

.btn1 {
  color: white;
  background-color: #cc9b6a;
  width: 350px;
  height: 40px;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s;
  font-family: system-ui, Helvetica Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  line-height: 0.9375rem;
  padding: 0.8125rem 1rem;
  text-transform: uppercase;
  white-space: normal;
  margin-top: 27px;
}

.inta {
  margin-top: 30px;
}

.div8 {
  color: white;
  text-align: center;
  padding: 3px;
  background-color: rgb(19, 18, 18);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-top: 100px;
}

.cars {
  color: white;
  margin-left: 2em;
  width: 189px;
  height: 46px;
  background-color: rgb(14, 4, 4);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}
.text1 {
  margin-left: 9em;
  font-family: Arial, Helvetica, sans-serif;
}
.link__block {
  margin-right: 2em;
}
.text3 {
  color: #d1d1d190;
  font-family: Arial, Helvetica, sans-serif;
}
